Janela {
    background-color: black;
}
QPushButton {
    color: red;
    
}
QLineEdit {
    background-color: black;
    color: red;
}
QTextEdit {
    background-color: rgba(255, 0, 0, 0.171);
    color: red;
}
/*background: linear-gradient(65deg, rgba(204, 255, 0, 0.185) 10%, rgba(0, 255, 8, 0.178) 89%);*/