html[dir] ._3QfZd {
    background-color: var(--panel-background-lighter);
    background-repeat: repeat-x;
    border-radius: 0;
    transform-origin: center;
}
html[dir=ltr] ._3QfZd, html[dir=rtl] ._3QfZd {
    animation: dA9DG .3s cubic-bezier(.1,.82,.25,1);
}
html[dir=ltr] ._3QfZd {
    left: 0;
    background-position: 0 0;
}
._3-dtC {
    position: fixed;
    z-index: 700;
    width: 0;
    height: 0;
    overflow: visible;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font: inherit;
    font-size: 100%;
    vertical-align: initial;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
}